<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tstine.marvinas"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
c
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name="com.tstine.marvinas.CameraActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tstine.marvinas.NoServiceActivity"
            >
        </activity>

        <service
            android:name="com.tstine.marvinas.DetectionService"
            android:exported="false" />
        <service
            android:name="com.tstine.marvinas.AddRequestService"
            android:exported="false" />
        <service
            android:name="com.tstine.marvinas.AddPictureToBucketService"
            android:exported="false" />
        <service
            android:name="com.tstine.marvinas.AddToQueueService"
            android:exported="false" />
        <service
            android:name="com.tstine.marvinas.AddToDynamoService"
            android:exported="false" />
        <service
            android:name="com.tstine.marvinas.PollResponseService"
            android:exported="false" />

        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_process_list"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>
    </application>

</manifest>
